  <!-- Intro Section -->
  <section id="intro" class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>
            <span class="line">My name is</span>
            <span class="line">Ka Mok.</span>
          </h1>
          <h3>
            <span class="line">I am a fullstack </span>
            <span class="line">web developer</span><br>
            <span class="line">with a passion for </span>
            <span class="line">entrepreneurship.</span>
          </h3>
          <div id="ka-stack">
            <h4>Idea</h4>
            <h4>Research</h4>
            <h4>Planning</h4>
            <h4>Development</h4>
            <h4>Analysis</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> <h1>About Me</h1>

        <div id="about-quote">
          <h4>
          A pupil from whom nothing is ever demanded
          which he cannot do, never does all he can.
          <span class="line">~ John Stuart Mill</span>
          </h4>
        </div>

          <div class="row">
            <div class="col-lg-6">
              <h4><b>Professionally</b></h4>
              <h4>I was exposed to the world of programming when I began collaborating with developers as a designer in University. I often felt powerless and frustrated after delivering the plans for the product (wire-frames, assets, research). To ease the workload of my teammates, I began tinkering with front-end. A year later and with the help of a <a href="http://dylanerichards.com/">great teacher</a>, I became a Ruby on Rails developer.</h4>
              <h4>My goal is to develop a product or a service that has lasting impact on the most amount of people possible.</h4>
            </div>
            <div class="col-lg-6">
              <h4><b>Personally</b></h4>
              <h4>I left Hong Kong and came to the United States when I was 8. I went through English as a Second Language in elementary school and was fortunate to be admitted to Brooklyn Technical High School.</h4>

              <h4>
              I never had any particular interests, but performed well enough to get a near full scholarship to Parsons School of Design. At Parsons I discovered my intellectual curiosity after being unchallenged from the regular curriculum. That extra energy allowed me to reach for opportunities that went beyond the pursuit of grades, syllabi, bachelors degrees and into the development of the mind.</h4>
            </div>
          </div><!-- row -->

          <div id="ka-face">
            <%= image_tag("portrait.png", id: "ka-portrait") %>
          </div>

        </div><!-- col-log-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>
  <!-- Projects Section -->
  <section id="projects" class="projects-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Projects</h1>

            <div class="project">
              <h3>thesuperbowl</h3>
              an image sharing website centered around the most superb animal in the world: the owl.

              <div class="project-links">
                <a href="https://github.com/kamok/superbowl"><i class="fa fa-github"></i> github</a>  |  <a href="https://thesuperbowl.herokuapp.com"><i class="fa fa-heart"></i> live</a>  
              </div>

              <div class="project-images" %>
                <%= image_tag("https://dl.dropboxusercontent.com/u/101808070/heykamok/superbowl.jpg") %>
              </div> 
            </div>    

            <hr class= "style2">       

            <div class="project">
              <h3>toy-weather</h3>
              a toy that tells the weather forecast anywhere in the world.
            
              <div class="project-links">
                <a href="https://github.com/kamok/heykamok.com-on-Rails"><i class="fa fa-github"></i> github</a>  |  <a href="https://kamok-web.herokuapp.com/toys"><i class="fa fa-heart"></i> live</a>  
              </div>

              <div class="project-images" %>
                <%= image_tag("https://dl.dropboxusercontent.com/u/101808070/heykamok/toy-weather.png") %>
              </div>
            </div>

             <hr class= "style2">       

            <div class="project">
              <h3>twenty-four</h3>
              a console command single-player game of 24.
            
              <div class="project-links">
                <a href="https://github.com/kamok/twenty-four"><i class="fa fa-github"></i> github</a>
              </div>

              <div class="project-images" %>
                <%= image_tag("https://dl.dropboxusercontent.com/u/101808070/heykamok/twenty-four.png") %>
              </div>
            </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        
          <div class="super-secret-login-button">
            <h1>Find</h1> 
            <% if user_signed_in? %>
                <h1><%= link_to "me", destroy_user_session_path, method: :delete %></h1>
              <% else %>
                <h1><%= link_to "me", new_user_session_path %></h1>
              <% end %> 
            <h1>on:</h1>
          </div> 

          <div id="social-contacts">
            <ul>
              <li>
                <a href="mailto:hey.kamok@gmail.com" class="btn btn-social-icon btn-google btn-lg">
                  <span class="fa fa-envelope"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/kamok" class="btn btn-social-icon btn-github btn-lg" target="_blank">
                  <span class="fa fa-github"></span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ka-mok-04399b65" class="btn btn-social-icon btn-linkedin btn-lg" target="_blank">
                  <span class="fa fa-linkedin"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>