	<!-- Toy Intro -->
	<section class="toy-intro-section">
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-12">

	        <h1>Toys</h1>

					<p>Below are a few selection of my favorite side projects.</p>

	        </div>
	      </div>
	    </div>
	  </section>

	<!-- Weather Toy -->
	<section id="toy-weather" class="weather-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

	        <h1>Weather Forecast</h1>
	        <p>Your ip address is <%= cookies[:client_ip] %>. </p>

					<div class="circle">
				    <span>
					    <div id="toy-current-temp">
								<%= @weather_array[0].to_i %>°
							</div>
							<%= @weather_array[9] %>
							<div id="toy-max-min-temp-today">
								<b><%= @weather_array[1].to_i %>°</b> / <%= @weather_array[2].to_i %>°
							</div>
				    </span>
				  </div><!-- circle -->
				</div><!-- col-lg-12 -->
			</div><!-- row -->

			<div class="row" id="weather-divider">
			 	<div class="col-lg-3">
			 		<div class="weather-box">
			 			<b><%= @weather_array[1].to_i %>°</b> / <%= @weather_array[2].to_i %>°
			 		</div>
			 	</div>

			 	<div class="col-lg-3">
			 		<div class="weather-box">
			 			<b><%= @weather_array[3].to_i %>°</b> / <%= @weather_array[4].to_i %>°
			 		</div>
			 	</div>

			 	<div class="col-lg-3">
				 	<div class="weather-box">
			 			<b><%= @weather_array[5].to_i %>°</b> / <%= @weather_array[6].to_i %>°
				 	</div>
			 	</div>

			 	<div class="col-lg-3">
			 		<div class="weather-box">
			 			<b><%= @weather_array[7].to_i %>°</b> / <%= @weather_array[8].to_i %>°
			 		</div>
			 	</div>

			</div><!-- row -->
    </div><!-- container -->
  </section><!-- id="toy-weather" class="weather-section" -->

	<!-- Clicky Table Toy -->
  <section id="toy-table" class="table-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

        <table id = "random_table">
				  <tr>
				    <td></td>
				    <td></td> 
				    <td></td>
				    <td></td>
				    <td></td> 
				  </tr>
				</table>
         
        </div>
      </div>
    </div>
  </section>

	
		
</div>
