	<!-- Toy Intro -->
	<section class="toy-intro-section">
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-12">

	        <h1>Toys</h1>

					<p>Below are a few selection of my favorite side projects.</p>

	        </div>
	      </div>
	    </div>
	  </section>

	<!-- Weather Toy -->
	<section id="toy-weather" class="weather-section">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">

	        <h1>Weather Forecast</h1>
	        <p>Your ip address is <%= cookies[:client_ip] %>. </p>

					<div class="circle">
				    <span>
					    <div id="toy-current-temp">
								<%= @weather_array[0].to_i %>°
							</div>
							<%= @weather_array[9] %>
							<div id="toy-max-min-temp-current">
								<b><%= @weather_array[1].to_i %>°</b> / <%= @weather_array[2].to_i %>°
							</div>
				    </span>
				  </div><!-- circle -->
				</div><!-- col-lg-12 -->
			</div><!-- row -->
      
      
			<div class="row">
			<!-- Day0 -->
			 	<div class="col-lg-3">
			 		<div class="weather-box">

			 			<div class="toy-weather-day">
			 				<%= @weather_array[10] %><br>
			 				<b><%= @weather_array[14] %></b>
			 			</div>

			 			<div class="weather-icon">
			 				<%= wi_icon(@weather_array[18]) %>
			 			</div>

			 			<div class="max-min-temp">
			 				<b><%= @weather_array[1].to_i %>°</b> / <%= @weather_array[2].to_i %>°
			 			</div>

			 			<div class="weather-summary">
			 				<%= @weather_array[22] %>
			 			</div>

			 		</div>
			 	</div>

			 	<!-- Day1 -->
			 	<div class="col-lg-3">
			 		<div class="weather-box">

			 			<div class="toy-weather-day">
			 				<%= @weather_array[11] %><br>
			 				<b><%= @weather_array[15] %></b>
			 			</div>

			 			<div class="weather-icon">
			 				<%= wi_icon(@weather_array[19]) %>
			 			</div>

						<div class="max-min-temp">
			 				<b><%= @weather_array[3].to_i %>°</b> / <%= @weather_array[4].to_i %>°
			 			</div>

			 			<div class="weather-summary">
			 				<%= @weather_array[23] %>
			 			</div>

			 			
			 		</div>
			 	</div>

			 	<!-- Day2 -->
			 	<div class="col-lg-3">
				 	<div class="weather-box">

				 		<div class="toy-weather-day">
			 				<%= @weather_array[12] %><br>
			 				<b><%= @weather_array[16] %></b>
			 			</div>

			 			<div class="weather-icon">
			 				<%= wi_icon(@weather_array[20]) %>
			 			</div>

			 			<div class="max-min-temp">
			 				<b><%= @weather_array[5].to_i %>°</b> / <%= @weather_array[6].to_i %>°
			 			</div>

			 			<div class="weather-summary">
			 				<%= @weather_array[24] %>
			 			</div>
			 
				 	</div>
			 	</div>

			 	<!-- Day3 -->
			 	<div class="col-lg-3">
			 		<div class="weather-box">

			 			<div class="toy-weather-day">
			 				<%= @weather_array[13] %><br>
			 				<b><%= @weather_array[17] %></b>
			 			</div>

			 			<div class="weather-icon">
			 				<%= wi_icon(@weather_array[21]) %>
			 			</div>

			 			<div class="max-min-temp">
			 				<b><%= @weather_array[7].to_i %>°</b> / <%= @weather_array[8].to_i %>°
			 			</div>

			 			<div class="weather-summary">
			 				<%= @weather_array[25] %>
			 			</div>
			 	
			 		</div>
			 	</div>

			</div><!-- row -->
    </div><!-- container -->
  </section><!-- id="toy-weather" class="weather-section" -->

	<!-- Clicky Table Toy -->
  <section id="toy-table" class="table-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
					<h1>Clicky Table</h1>

					<p>TBD.</p>
        <table id = "random_table">
				  <tr>
				    <td></td>
				    <td></td> 
				    <td></td>
				    <td></td>
				    <td></td> 
				  </tr>
				</table>
         
        </div>
      </div>
    </div>
  </section>

	
		
</div>
