<% title(@post.title, "Kablog") %>
<div id="adjust-down" class="post-container">
	<div id="blog-view-nav">
		<ul>
			<li><%= link_to "Back", blog_path, class:'btn btn-primary'%></li>

			<% if user_signed_in? %>
				<li><%= link_to "Edit Post", edit_post_path, class:'btn btn-primary' %></li>
				<li><%= link_to "Delete Post", @post, method: :delete, class:'btn btn-danger' %></li>
			<% end %>

		</ul>
	</div>

	<h2><%= @post.title %></h2>
	<i>Last updated on: <%= @post.pretty_updated_at%></i>
	<div id="post-body-view">
		<%= simple_format(@post.body) %>
	</div>
</div> 